<template>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Vendor | Login</h2>
              <p class="text-white-50 mb-5">Please enter your Credential</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeUsername" class="form-control form-control-md" v-model="input.name" v-on:keyup="keymonitor"/>
                <label class="form-label" for="typeUsername">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePassword" class="form-control form-control-md" v-model="input.password" v-on:keyup="keymonitor"/>
                <label class="form-label" for="typePassword">Password</label>
              </div>

              <button class="btn btn-outline-light btn-md px-5" type="submit" @click="checkLogin()">Login</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-view/>

</template>

<script>
import axios from 'axios'

export default {
  name: 'LoginView',
  data(){
    localStorage.setItem("user-info", "")
    return{
        input:{
            name: "",
            password: ""
        }
    }
  },
  methods: {
    keymonitor: function(e) {
      if (e.key == "Enter") {
        this.checkLogin()
      }
    },
    checkLogin: function() {
      let self = this
      
      axios.post('http://127.0.0.1:5000/vendor/login', {
        name: this.input.name,
        password: this.input.password
      })
      .then(function (res) {
        if (res.status == 200) {
          if (res.data) {
            localStorage.setItem("user-info", JSON.stringify(res.data))
            self.$router.push({name: 'Dashboard'})

          } else {
            console.log('User not found!')
            localStorage.setItem("user-info", "")
          }
        }
        // this.$router.push({name: 'Dashboard'})

      })
      .catch(function (err) {
        console.log(err);
      });
    },
    toFormData: function(o) {
      var frm = new FormData()
      for (var k in o) {
        frm.append(k, o[k])
      }
      
      return frm
    }
  }
}
</script>