<script setup>
  import { RouterLink } from 'vue-router'
</script>
<template>

  <!-- Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="createVendorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createVendorModal">Vendor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="input.vendor_id" placeholder="Vendor ID" aria-label="" aria-describedby="button-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="input.name" placeholder="Vendor Name" aria-label="" aria-describedby="button-addon1">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-outline-primary btnCreate" @click="createVendor()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="editVendorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editVendorModal">Vendor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="input.vendor_id" placeholder="Vendor ID" aria-label="" aria-describedby="button-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="input.name" placeholder="Vendor Name" aria-label="" aria-describedby="button-addon1">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-outline-primary btnUpdate" @click="updateVendor(input.id)" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <RouterLink class="nav-link" to="/">Dashboard</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/vendor">Vendor</RouterLink>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="nav-link" aria-current="page" href="/login">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container p-3">
  <div class="card">
    <div class="card-header">
      <div class="float-start">
        <h2>Vendor list</h2>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AddModal">Add</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(v, i) in vendors" :key="i">
            <td v-text="v.vendor_id"></td>
            <td v-text="v.name"></td>
            <td>
              <button @click="editVendor(v)" type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#EditModal">
                Edit
              </button>
              <button type="button" @click="deleteVendor(v.id)" class="btn btn-sm btn-outline-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</template>


<script>
import axios from 'axios'

export default {
  name: 'VendorView',
  data(){
    return {
      vendors: [],
      input:{
        name: "",
        id: "",
        vendor_id: ""
      }
    }
  },
  methods: {
    getVendor() {
      axios.get("http://127.0.0.1:5000/vendors")
        .then(res => {
          console.log(res)
          this.vendors = res.data
        })
    },
    createVendor() {
      axios.post("http://127.0.0.1:5000/vendor", {
        name: this.input.name,
        vendor_id: this.input.vendor_id
      }).then(res => {
        this.getVendor()
        console.log(res)
      })
    },
    deleteVendor(id) {
      axios.delete("http://127.0.0.1:5000/vendor/"+id)
        .then(res => {
          console.log(res)
          this.getVendor()
        })
    },
    editVendor(v) {
      this.input.name = v.name
      this.input.id = v.id
      this.input.vendor_id = v.vendor_id
      console.log(v)
    },
    updateVendor(id) {
      axios.put("http://127.0.0.1:5000/vendor/"+id, {
        id: this.input.id,
        name: this.input.name,
        vendor_id: this.input.vendor_id
      }).then(res => {
        this.getVendor()
        console.log(res)
      })
    },
  },
  mounted() {
    if(localStorage.getItem('user-info') == '') {
      this.$router.push({name: 'Login'})
    }
    this.getVendor()
  }
}
</script>

<style scoped>
h3 {
  margin: 10px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
